.idea/
.vscode/
notebooks/xfeat/
notebooks/image_align.py
dataset/exp*/outputs/
dataset/exp*/*.jpg
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt
exp*/*.jpg
exp*/outputs/
output/
path-to-davis-2017/
